.header {
    background-color: #034077; 
    color: white; 
    padding: 20px; 
    height: 89px;
}
.containerh {
    display: flex; 
    align-items: center; 
    padding: 0px; 
    width: 300px;
    
    text-decoration: none; 
    color: #F3FBFF; 
    margin-left: 10px;
    margin-top: -4px;
}
.containerh img {
    width: 50px; 
    height: auto; 
    margin-right: 15px; 
}
.div{
    background-color: #A0D4FF;
    margin: 60px;
    padding: 190px;
  
    
}
.container{
    position: relative;
    top: -150px;
    right: 120px;
    width: 1900px;
}
.divf{
    background-color: gray;
    margin: 60px;
    margin-bottom: 0px;
    padding: 60px;
}
/* Tarih seçim kutucuğu için fare imleci türünü belirle */
.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
    cursor: pointer; /* İşaret parmaklı imleç */
}





